<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Home</title>
</head>
<body>
<h1>Animales</h1>

<form action="/animal" method="post">
    <table>
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label for="animal">http://127.0.0.1:5000/animal/</label></td>
            <td><input type="text" name="animal" id="animal" required></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Buscar</button></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>